h1, h2, h3, h4, h5, h6 {color:#9E3942;}

hr { 
	display: block;
	border-width: 1px;
	border-color: lightblue;
}

blockquote { 
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: #f1f1f1;
	font-family: monospace;
	font-size: 12px;
	line-height: 190%;
}

header {
	font-family: Papyrus, Lucida Handwriting, cursive, Trebuchet MS;
	font-size: 12px;
}
body {
	line-height: 100%;
	padding-left: 50px;
	font-family: Verdana, Helvetica;
}

footer {
  font-family: serif;
  font-size: 12px;
}